services:
  db:
    image: postgres:18
    environment:
      - POSTGRES_DB=inventory
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
    volumes:
      - db_data:/var/lib/postgresql
    ports:
      - 5432:5432
    
volumes:
  db_data:
